:root {
    --primary-background: hsl(240, 4%, 16%);
    --secondary-background: hsl(240, 4%, 20%);
    --tertiary-background: hsl(240, 4%, 24%);

    --primary-font-family: 'Arial', sans-serif;

    --primary-font-color: hsl(0, 0%, 100%);
    --secondary-font-color: hsl(0, 0%, 80%);
    --tertiary-font-color: hsl(0, 0%, 60%);
    
    --font-weight-semibold: 600;
    --font-weight-normal: 400;
}

body {
    font-family: var(--primary-font-family);
}

#downloads-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#downloads-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 500px;
}

.bg-primary {
    background-color: var(--primary-background);
}

.bg-secondary {
    background-color: var(--secondary-background);
}

.bg-tertiary {
    background-color: var(--tertiary-background);
}

.font-primary {
    color: var(--primary-font-color);
}

.font-secondary {
    color: var(--secondary-font-color);
}

.font-tertiary {
    color: var(--tertiary-font-color);
}

.font-large {
    font-size: 2em;
}

.font-medium {
    font-size: 1.5em;
}

.font-small {
    font-size: 1.2em;
}

.header {
    font-weight: var(--font-weight-semibold);
    text-align: center;
    padding: 20px;
    padding-bottom: 10vh;
}

.header-small {
    font-weight: var(--font-weight-normal);
    text-align: center;
}

.download-item {
    width: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-item-title-wrapper {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.download-item-title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    user-select: none;
}

.download-item-title:hover {
    cursor: pointer;
}

.download-item-dropdown {
    display: none;
    flex-direction: column;
    width: 95%;
    align-self: flex-start;
    box-sizing: border-box;
}

.download-links {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
}

.download-link-container {
    display: flex;
    justify-content: space-between;
}

.download-link-header {
    font-weight: var(--font-weight-normal);
    margin-bottom: 10px;
}

.rounded-container {
    border-radius: 0px 10px 10px 10px;
}

.right-rounded-container {
    border-radius: 0px 10px 10px 0px;
}

.bottom-rounded-container {
    border-radius: 0px 0px 10px 10px;
}

.text-button {
    text-decoration: none;
    font-weight: var(--font-weight-semibold);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    transition: transform 0.1s ease;
}

.text-button.active {
    transform: rotate(90deg);
}